[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
pandas = "*"
tensorflow-recommenders = "*"
tensorflow-datasets = "*"

[dev-packages]

[requires]
python_version = "3.11.9"
